inference.getplexo.com {
    reverse_proxy gateway:3001

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        -Server
    }

    log {
        output file /data/gateway-access.log
        format json
    }
}

gateway-admin.getplexo.com {
    reverse_proxy admin:3002

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        -Server
    }

    log {
        output file /data/admin-access.log
        format json
    }
}
